.container {
    width: 1280px;
    margin: 0 auto;
}

.header-wrapper{
    margin: 50px 60px;
    height: 100%;
}

.logo {
    font-size: 80px;
    display: flex;
    padding-bottom: 40px;
}

.logo a {
    text-decoration: none;
}

.top-menu-fon {
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #35444F;
}

.nav-list {
    display: flex;
}

.nav-list a {
    font-size: 24px;
    color: white;
}

.header-list {
    padding: 20px 50px;
    border-right: 1px solid white;
    border-left: 1px solid white;
}

.header-list:hover {
    color: white;
    background-color: #222F3A;
}
.section {
    display: flex;
    justify-content: space-around;
    gap: 60px;
}

.nav-left-menu {
    display: flex;
    flex-direction: column;
}

.left-menu {
    display: flex;
    flex-direction: column;
    width: 344px;
    border: 1px solid black;
}

.list-left-menu a {
    color: #495863;
    font-size: 27px;
}

.list-left-menu {
    height: 80px;
    display: flex;
    align-items: center;
    padding-left: 45px;
}

.list-left-menu:hover{
    color: black;
    background-color: #DBDBDB;
    padding-left: 65px;
}

.img {
    display: flex;
    width: 886px;
    height: 529px;
    padding-bottom: 38px;
}

.text {
    color: #2C2C2C;
    font-size: 18px;
    padding-bottom: 54px;

}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #63696E;
    height: 69px;
}

.footer-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 875px;
    height: 69px;
}

.footer-list a {
    color: #0C1927;
    font-size: 28px;
}

.footer-text {
    color: #010101;
    font-size: 24px;
}

.footer-list:hover {
    text-decoration: #3181A6;
    border-bottom: 3px solid #3181A6;
}